name: Generate CycloneDX SBOM

on:
  push:
    branches: [ master ]
  schedule:
  - cron: '45 7 * * 4'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-sbom:
    runs-on: ubuntu-latest
    steps:
      # Grab the code
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create output dir
        run: mkdir -p reports

      # Run cdxgen scan
      - name: Generate SBOM (CycloneDX JSON)
        run: |
          mkdir -p reports
          docker run --rm \
          --user "$(id -u):$(id -g)" \
          -e HOME=/tmp \
          -e NPM_CONFIG_CACHE=/tmp/.npm \
          -e FETCH_LICENSE=true \
          -v /tmp:/tmp \
          -v "${{ github.workspace }}:/app:rw" \
          ghcr.io/cyclonedx/cdxgen:v11.11.0 \
          -r /app --no-install-deps -o /app/reports/sbom.cdx.json

      # Create downloadable artifact
      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: cdx-sbom
          path: reports/sbom.cdx.json
          retention-days: 5
        
        
